<div class="mdl-grid graph-container">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col ">
        <form>
            <div class="mdl-textfield mdl-js-textfield graph-json-textfield"> 
                <textarea class="mdl-textfield__input" type="text" rows="20" id="graph-json-fld" ></textarea>
            </div>
        </form>
    </div>
</div>
